@model IEnumerable<string>
@inject IOptionsSnapshot<BlogSettings> settings

<div class="container">
    <h1>All Post Categories</h1>
    @*<p>Click to see posts in that category.</p>*@

    @foreach (var cat in Model)
    {
        @*<p class="catlink"><a href="/blog/category/@cat">@(cat.Substring(0, 1).ToUpper() + cat.Substring(1))</a></p>*@
        <p class="catlink"><a href="/blog/category/@cat">@cat</a></p>
    }
</div>