<div class="container">
    <div class="page">
        <h1>About Me</h1>
        <ul>
            <li><strong>Programmer</strong> (mostly <a href="https://en.wikipedia.org/wiki/.NET_Core" target="_blank">this</a>)</li>
            <li><strong>Backpacker</strong> (backyard is <a href="https://www.fs.usda.gov/recarea/hoosier/recarea/?recid=41554" target="_blank">here</a>)</li>
            <li><strong>Gear nerd</strong> (pack <a href="https://lighterpack.com/r/yfdziu" target="_blank">list</a>)</li>
        </ul>
        <img src="~/img/me.jpg" />
        <p><small><strong>Note:</strong> The quote in the header is taken from a <a href="https://en.wikipedia.org/wiki/All_that_is_gold_does_not_glitter" target="_blank">J.R.R. Tolkien poem</a>.</small></p>
    </div>
</div>