<div class="container">
    <div class="page">
        <h1>About Me</h1>
        <p>Programmer, backpacker, gear fanatic.</p>
        <div>
            <img src="~/img/me.jpg" />
        </div>
        @*<p>
            Weekdays, I live in a cubicle cave and spend my time reading
            <a href="https://stackoverflow.com/questions/tagged/c%23" target="_blank">StackOverflow</a>
            and
            <a href="https://www.reddit.com/r/ProgrammerHumor/" target="_blank">r/programmerhumor</a>.
        </p>
        <p>
            Weekends, I live in the backcountry as much as possible and spend my non-backcountry time reading
            <a href="https://thetrek.co/pacific-crest-trail/" target="_blank">The Trek</a>
            and
            <a href="https://www.reddit.com/r/ultralight_jerk/" target="_blank">r/ultralight_jerk</a>.
            <br/>
            <small>(I'm not ultralight, but I am a <a href="https://lighterpack.com/r/yfdziu" target="_blank">nerd</a>.)</small>
        </p>*@
    </div>
</div>