<div class="container">
    <div class="page">
        <h1>About Me</h1>
        <p>I'm a web applications developer and weekend backpacker. In 2020, I'm quitting my job to go hike the <a href="https://www.pcta.org/discover-the-trail/" target="_blank">Pacific Crest Trail</a>.</p>
        <p>
            Check out my...
            <ul>
                <li><a href="https://www.youtube.com/channel/UCNMFxbaRjYUZPtPqZI7QvJA" target="_blank">YouTube</a></li>
                <li><a href="https://lighterpack.com/r/yfdziu" target="_blank">Lighterpack</a></li>
            </ul>
        </p>
        <p>The quote in the header is taken from a <a href="http://tolkiengateway.net/wiki/The_Riddle_of_Strider" target="_blank">J.R.R. Tolkien poem</a>.</p>
        <img src="~/img/me.jpg" />
    </div>
</div>