<div class="container">
    <div class="page">
        <h1>About Me</h1>
        <p>Programmer, backpacker, <a href="https://lighterpack.com/r/yfdziu" target="_blank">gear fanatic</a>.</p>
        <div>
            <img src="~/img/me.jpg" />
        </div>
    </div>
</div>